src/main/resources/apiel.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://springbootwstest.com/ns" targetNamespace="http://springbootwstest.com/ns"
	elementFormDefault="qualified">
	<xs:element name="testResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	    <xs:element name="testRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ip" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>